@model MVCAssignmentW67Sln.Areas.ContactDetails.ViewModels.ContactDetailsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        Succesfully created!
    </div>
</body>
</html>
