@model MVCAssignmentW67Sln.Areas.ContactDetails.ViewModels.ContactDetailsViewModel
@using MVCAssignmentW67Sln.Areas.ContactDetails.ViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>Person details</legend>

    <div>@Html.Partial("_ContactDetailsPartialView", Model.ContactDetails)</div>

    <div>@Html.Partial("_AddressPartialView", Model.Address)</div>

    <div>@Html.Partial("_PhonePartialView", Model.Phone)</div>

</fieldset>
<p>
    @*@Html.ActionLink("Create", "Create", new { xml = ContactDetailsViewModel.Serialize(Model) /* id=Model.PrimaryKey */ }) |*@
    
    @*@Html.ActionLink("Create", "Create", "Create", new { xml = ContactDetailsViewModel.Serialize(Model)})*@
@*</a>*@

    <button onclick="location.href='@Url.Action("Index", "Create", new { xml = ContactDetailsViewModel.Serialize(Model)})';return false;">Create</button>

      |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
